button {
    border: none;
    border-radius: 100px;
    cursor: pointer;
    filter: drop-shadow(2px 2px rgba(0,0,0,0.15));
    width: fit-content;

    p {
        font-size: 14px;
        font-weight: 600;
        padding: 12px 100px;
        margin: 0;
    }
}