// X
.sign-up-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .agreement {
        color: #FFFFFF;
        font-size: 10px;
        position: relative;
        margin: 0;
        max-width: 300px;
        text-align: center;
    }

    // X
    .favorite-team-select {
        border: none;
        border-radius: 22px;
        color: white;
        height: 44px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
}