.sign-up-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 50%;
    max-width: 420px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}