.header-profile-pill-container {
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 44px;    

    img {
        border-radius: 100px;
        height: 40px;
        padding-left: 2px;
    }

    p {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
        padding: 0px 16px;
    }
}