.value-bar-container {
    border-radius: 22px;
    color: #FFFFFF;
    filter: drop-shadow(2px 2px rgba(0,0,0,0.15));
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 420px;
}

.value-bar-container-w-img {
    border-radius: 22px;
    color: #FFFFFF;
    filter: drop-shadow(2px 2px rgba(0,0,0,0.15));
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 420px;

    .circle-img-left {
        border-radius: 50%;
        height: 36px;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 4px;
        padding-left: 4px;
    }
}