.pack-card-container {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 280px;
    width: 150px;

    .pack-img {
        cursor: pointer;
        
        img {
            border-radius: 2px;
            height: 280px;
            object-fit: cover;
            width: 150px;
        }
    }

    h3 {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }
}