// X
.home-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 0px 100px;

    .cards-row-container {

        .row-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding-bottom: 24px;

            h2 {
                color: #FFFFFF;
                font-weight: 600;
                padding-left: 12px;
            }
        }

        .cards {
            display: flex;
            gap: 24px;
            overflow-x: scroll;

            .card {
                backdrop-filter: blur(8px);
                -webkit-backdrop-filter: blur( 8px );
                background: rgba( 255, 255, 255, 0.25 );
                border-radius: 20px;
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                cursor: pointer;
                height: 160px;
                position: relative;
                width: 294px;
                
                .card-content {
                    bottom: 12px;
                    position: absolute;
                    right: 24px;
                    width: fit-content;

                    .add-icon {
                        height: 40px;
                        width: 40px;
                    }
                }

                h3 {
                    color: #FFFFFF;
                    font-size: 20px;
                    font-weight: 500;
                    padding-left: 24px;
                    padding-top: 24px;
                    margin: 0;
                }
            }
        }
    }
}