.home-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 72px;
    width: 100%;
    
    .carousel-container {
        padding: 0px 250px;

        .carousel-image {
            height: 350px;

            img {
                border-radius: 20px;
                height: 350px;
                object-fit: cover;
                width: 100%;
            }
        }

        .pagination {
            display: flex;
            gap: 20px;
            justify-content: center;
            padding: 12px 0px;

            .page-circle {
                background-color: #FFFFFF;
                border-radius: 5px;
                height: 10px;
                width: 10px;
            }

            .active {
                background-color: #333333;
            }
        }
    }

    .cards-row-container {
        padding: 0px 250px;

        .row-header {
            h2 {
                color: #FFFFFF;
                font-size: 24px;
                font-weight: 700;
                margin: 0;
                padding-bottom: 24px;
                padding-left: 12px;
            }
        }

        .cards {
            display: flex;
            gap: 24px;

            .card {
                background-color: #333333;
                border-radius: 20px;
                height: 160px;
                position: relative;
                width: 300px;

                .card-content {
                    background-color: yellow;
                    bottom: 24px;
                    width: 30px;
                    height: 10px;
                    position: absolute;
                    right: 24px;
                }

                h3 {
                    color: #FFFFFF;
                    font-size: 20px;
                    font-weight: 500;
                    padding-left: 24px;
                    padding-top: 24px;
                    margin: 0;
                }
            }
        }


    }
}