.account-settings-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 100px;

    .acc-settings-toggle {
        display: flex;
        gap: 24px;
        padding-bottom: 10px;

        .underline {
            opacity: 1;
            position: relative; 
            text-decoration: none; 
            transition: 0.5s;
        }

        .underline::after {
            background: #FFFFFF;
            bottom: -6px;
            content: '';
            height: 2px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            transition: 0.5s;
            width: 100%;
        }

        .underline:hover::after {
            width: 90%;
        }

        h3 {
            color: #FFFFFF;
            cursor: pointer;
            font-weight: 600;
            margin: 0;
            opacity: 0.5;
            padding: 4px 12px;
        }

        h3:hover {
            opacity: 1;
        }
    }
}