.series-card-types-container {
    display: flex;
    flex-flow: wrap;
    gap: 48px;

    .series-type-container {
        display: flex;
        width: 420px;

        .card-preview-container {
            display: flex;
            flex-direction: column;
            gap: 24px;
            text-align: center;
        }

        .card-entry-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-top: 48px;

            input {
                background: none;
                border: 2px solid #FFFFFF;
                border-radius: 100px;
                color: #FFFFFF;
                filter: drop-shadow(0px 0px rgba(0,0,0,0));
                font-size: 16px;
            }
        }

        h3 {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 500;
            margin: 0;
        }
    }
}