// X
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 250px;
    padding-top: 60px;

    .header-profile {
        align-items: center;
        display: flex;
        gap: 12px;
        text-align: right;

        .profile-info {
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .profile-img {
            border-radius: 50%;
            cursor: pointer;
            height: 80px;
            object-fit: contain;
            position: relative;
            width: 80px;
        }

        h1 {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }
    }
}