.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 250px;
    padding-top: 60px;

    .auth-toggle {
        display: flex;
        gap: 24px;

        .underline {
            text-decoration: none; 
            opacity: 1;
            position: relative; 
            transition: 0.5s;
        }

        .underline::after {
            background: #FFFFFF;
            bottom: 4px;
            content: '';
            height: 2px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            transition: 0.5s;
            width: 100%;
        }

        .underline:hover::after {
            width: 90%;
        }

        p {
            color: #FFFFFF;
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            margin: 0;
            opacity: 0.5;
            padding: 4px 12px;
        }

        p:hover {
            opacity: 1;
        }
    }

    .header-profile {
        align-items: center;
        display: flex;
        gap: 24px;

        h1 {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }
    }
}